<div class="footer">
    <div class="footer-title">
       <img src="logo-black.png" width="50" height="30" />
        <h2> FIELD TRIP RECORDINGS</h2>
    </div>
    <div class="listes">
        <ul><h3>MENU</h3>
            <li>Home</li>
            <li>Artists</li>
            <li>Releases</li>
            <li>Events</li>
            <li>Store</li>
        </ul>
        <ul><h3>CONTACTS</h3>
            <li>Our next artist ?</li>
            <li>Collaboration</li>
            <li>Join the team</li>
            <li>General inquiries</li>
        </ul>
  </div>
  <p>© Field Trip Records 2022 | All Rights Reserved. Conjunction of culture and artistic talent. Based in Los Angeles.</p>
</div>
