   <div class="navigation">
	    <img src="./logo-white.svg" alt="logo"></img>
      <nav> 
        <ul class="nav-list">
          <li> <a href="index.html"> Home </a></li> 
          <li> <a href="artistspage.html"> Artists </a></li>
          <li> <a href="">Releases</a></li> 
          <li> <a href="">Events</a></li>
          <li> <a href=""> Store</a></li>
        </ul>
      </nav>
      <button class="burger" aria-label="Open menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>