* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Quarantype";
  src: url("/src/font/Quarantype-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body{
    background-image: url(../img/video-background.svg);
    background-position: top center;
    background-repeat: no-repeat;
    min-width: 100vw;

    
}
.navigation{
  position: relative;        
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 24px;

}
.navigation a {
  text-decoration: none;
}
.nav-list{
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* centers it */
  
  display: flex;
  gap: 40px;

  border: 1px solid white;
  border-radius: 56px;

  list-style: none;
  color: white;
  display: flex;

  width: 582.75px;
  height: 75px;
  padding: 6px 36px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

}

h1{ font-family: "Quarantype";}

.header{
 width: 1440px;
height: 941px;
flex-shrink: 0;
}
