* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Quarantype";
  src: url("/src/font/Quarantype-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
h1{ font-family: "Quarantype";}
img {
width: 342px;
 height: 342px;
 flex-shrink: 0;
}
